@import "tailwindcss";

@theme {
  --color-base: #121212;
  --color-panel: #1A1A1A;
  --color-panel-light: #2A2A2A;
  --color-primary: #9D4EDD;
  --color-foreground: #FFFFFF;
  --color-foreground-muted: #A0A0A0;
}

@layer base {
  :root {
    background-color: var(--color-base);
    color: var(--color-foreground);
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
}
